<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>iostudio Whiteboard</title>

    <style type="text/css" media="screen">
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        html,
        body {
            font-family: Helvetica, sans-serif;
            height: 100%;
            margin: 50px auto 0;
            padding: 20px;
            text-align: center;
            width: 600px;
        }
        .hide {
            display: none !important;
        }
        .show {
            display: none !important;
        }
        #dropzone {
            border:4px dashed red;
        }

        .dragover {
          background-color: orange;  
        }

        #users-list {
            list-style: none;
        }
        #users-list li {
            text-align: left;
            height: 100px;
            padding: 10px;
        }
        #chat-messages-list img,
        #users-list img {
            float: left;
            height: 100%;
            margin-right: 10px;
        }
        #users-list .self .name {
            font-weight: bold;
        }
        #users-list .self .name:after {
            content: " (That's you!)";
            font-weight: normal;
        }
        #users-list .self img {
            cursor: pointer;
        }
        #users-list .self img:hover {
            opacity: .7;
        }

        #chat-messages-list {
            border: 1px solid #999;
            height: 400px;
            overflow: scroll;
            margin: 1em 0;
            list-style-type: none;
            text-align: left;
            width: 100%;
        }
        #chat-messages-list > li {
            background-color: #deffe0;
            height: 100px;
            padding: 5px;
        }
        #chat-messages-list > li:nth-child(odd) {
            background-color: #a9ffad;
        }
        #chat-messages-list > li.self {
            background-color: yellow;
        }
        #chat-messages-list > li:nth-child(odd).self {
            background-color: #faffd3;
        }
        #chat-messages-list > li > .user {
            font-weight: bold;
        }
        #chat-messages-list > li > .user:after {
            content: ':';
        }
        #chat input {
            border: 1px solid #999;
            padding: 1em;
            font-size: 1em;
            width: 100%;
        }
        #webcam,
        #webcam-feed {
            display: none;
            height: 300px;
            width: 100%;
        }
        #webcam.open {
            display: block;
        }
        #snapshot {
            display: block;
        }
    </style>

</head>
<body>
    <video autoplay="true" id="webcam"></video>
    <canvas id="webcam-feed"></canvas>

    <div id="dashboard">Drag files here.</div>
    <h2>Files</h2>
    <div id="files-list"></div>
    <h2>Users</h2>
    <div id="users-list"></div>

    <form id="chat">
        <h2>Chat <a id="request-chat-notifications-permission" class="hide" href="#">(Click for Growl-like Notifications!)</a></h2>
        <ul id="chat-messages-list"></ul>
        <input type="text" placeholder="Message Here...">
    </form>

    <script id="template-file" type="text/handlebars">
        <li><a href="/files/{{name}}" download="{{name}}">{{name}} ({{user}} at {{timestamp}})</a></li>
    </script>

    <script id="template-user" type="text/handlebars">
        <li id="user-{{id}}" data-id="{{id}}" class="user {{#self}}self{{/self}}">{{#image}}<img src="{{image.data}}">{{/image}}<span class="name">{{name}}</span></li>
    </script>

    <script id="template-chat-message" type="text/handlebars">
        <li id="message-{{id}}" data-id="{{id}}" class="{{#user.self}}self{{/user.self}}"><img src="{{user.image.data}}"></img><span class="user">{{#user.self}}You{{/user.self}}{{^user.self}}{{user.name}}{{/user.self}}</span> {{message}}</li>
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.5.0-dev/mustache.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0.beta6/handlebars.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js"></script>
    <script>

        var socket = io.connect('http://'+document.domain+':8080');

        Backbone.Model.prototype.update = function(model, params){  
            var t = this;
            // update or add all new values
            _.each(model, function (value, attribute) {
                t.set(attribute, value);
            });
            if (!params || (params && !params.soft) ) {
                // if new value is missing, delete old value
                _.each(this.attributes, function (value, attribute) {
                    if (!model[attribute]) {
                        t.unset(attribute);
                    }
                }); 
            }         
        };

        var UserModel = Backbone.Model.extend({
          defaults: {
            'name': 'Anonymous',
            'image': {
                'data': '/images/default-user-image.gif'
            }
          },
          initialize: function () {
          }
        });

        var UsersCollection = Backbone.Collection.extend({
            model: UserModel
        });

        var UsersListView = Backbone.View.extend({
            el: '#users-list',
            events: {
                'click .self img': function (e) {
                    this.trigger('_requireMediaUpload');
                },
                'click .self .name': function (e) {
                    var user = {
                        id: $(e.target).closest('.user').attr('data-id'),
                        name: prompt("What's your name?")
                    };
                    this.trigger('_update', user);
                }
            },
            template: (function () { return $('#template-user').html() }()),
            render: function (user) {
                return Mustache.render(this.template, user);
            },
            add: function (user) {
                var html = this.render(user);
                this.$el.append(html);
            },
            remove: function (user) {
                var $el = this.$el.find('#user-'+user.id);
                $el.remove();
            },
            update: function (user) {
                var $el = this.$el.find('#user-'+user.id);
                var html = this.render(user);
                $el.replaceWith( html );
            }
        });

        var UsersController = Backbone.View.extend({
            initialize: function () {
                var t = this;
                var usersCollection = this.usersCollection = new UsersCollection();
                var usersListView = this.usersListView = new UsersListView();

                usersListView.on('_requireMediaUpload', function () {
                    t.trigger('_requireMediaUpload');
                });

                usersListView.on('_update', function (user) {
                    t.edit(user)
                });

                usersCollection.on('add', function (user) {
                    usersListView.add(user.toJSON());
                });

                usersCollection.on('remove', function (user) {
                    usersListView.remove(user.toJSON());
                });

                usersCollection.on('change', function (user) {
                    usersListView.update(user.toJSON());
                });

            },
            add: function (user) {
                this.usersCollection.add(user);
            },
            remove: function (user) {
                this.usersCollection.remove(user);
            },
            update: function (user) {
                var userModel = this.usersCollection.where({id:user.id})[0];
                if (userModel) {
                    userModel.update(user);
                }
            },
            get: function (id) {
                var model = this.usersCollection.get(id);
                if (model) {
                    return model.toJSON();
                } else {
                    return { name: '[No Name]' };
                }
            },
            edit: function (user) {
                var t = this;
                var userModel = t.usersCollection.where({id:user.id})[0].toJSON();
                delete user.id;
                _.each(user, function (value, attribute) {
                    userModel[attribute] = value;
                });
                t.trigger('_userUpdated', userModel);
            }
        });

        var FileModel = Backbone.Model.extend({
            defaults: {
                'name': 'no-file.txt',
                'data': 'data:',
                'timestamp': 'New Date',
                'location': {
                    'offsetX': 0,
                    'offsetY': 0
                }
            }
        });

        var FilesCollection = Backbone.Collection.extend({
            model: FileModel,
            initialize: function () {
            }
        });

        var FilesListView = Backbone.View.extend({
            el: '#files-list',
            //template: (function () { return Handlebars.compile( $('#template-file').html() ) }()),
            template: $('#template-file').html(),
            initialize: function () {
                this.on('add', this.add);
            },
            render: function (file) {
                return Mustache.render(this.template, file);
            },
            add: function (file) {
                var html = this.render(file);
                this.$el.append(html);
            }
        });

        var FileDropView = Backbone.View.extend({
            el: 'body',
            events: {
                'dragover': function () {
                    this.$el.addClass('dragover');
                },
                'dragleave': function () {
                    this.$el.removeClass('dragover');
                },
                'drop': function (e) {
                    e.preventDefault();
                    this.$el.removeClass('dragover');
                    this.trigger('_fileAdded', e.originalEvent.dataTransfer.files[0]);
                }
            }
        });

        var FilesController = Backbone.View.extend({
            initialize: function () {
                var t = this;
                var filesCollection = this.filesCollection = new FilesCollection();
                var filesListView = this.filesListView = new FilesListView();
                var fileDropView = this.fileDropView = new FileDropView();

                this.on('add', function (file) {
                    filesCollection.add(file);
                });


                filesCollection.on('add', function (file) {
                    filesListView.trigger('add', file.toJSON() );
                });


                fileDropView.on('_fileAdded', function (file) {
                    var reader = new FileReader();
                    reader.onload = function () {
                        t.trigger('_fileAdded', { name: file.name, timestamp: new Date().getTime(), data: this.result });
                    };
                    reader.readAsDataURL(file);
                });
            },
            add: function (file) {
                this.filesCollection.add(file);
            }
        });

        var ChatModel = Backbone.Model.extend();
        var ChatCollection = Backbone.Collection.extend({
            model: ChatModel
        });
        var ChatMessagesListView = Backbone.View.extend({
            el: '#chat',
            initialize: function () {
                this.$el.$input = this.$el.find('input');
                this.$el.$messagesList = $('#chat-messages-list');
                this.$el.$requestPermission = $('#request-chat-notifications-permission');
            },
            events: {
                'submit': function (e) {
                    e.preventDefault();
                    var val = this.$el.$input.val();
                    if (val.length > 0) {
                        this.$el.$input.val('');
                        this.trigger('_chatMessageAdded', val);
                    }
                },
                'click #request-chat-notifications-permission': function (e) {
                    e.preventDefault();
                    this.trigger('_requestNotificationsPermission');
                }
            },
            template: $('#template-chat-message').html(),
            render: function (message) {
                return Mustache.render(this.template, message);
            },
            add: function (message) {
                var html = this.render(message);
                this.$el.$messagesList.append(html).scrollTop(99999);
            },
            update: function (message) {
                var html = this.render(message);
                this.$el.$messagesList.find('#message-'+message.id).replaceWith(html);
            },
            hidePermissionLink: function () {
                this.$el.$requestPermission.addClass('hide');
            },
            showPermissionLink: function () {
                this.$el.$requestPermission.removeClass('hide');
            }

        });
        var ChatController = Backbone.View.extend({
            initialize: function () {
                var t = this;
                var chatCollection = this.chatCollection = new ChatCollection();
                var chatMessagesListView = this.chatMessagesListView = new ChatMessagesListView();
                chatMessagesListView.on('_chatMessageAdded', function (message) {
                    t.trigger('_chatMessageAdded', {message:message});
                });
                chatCollection.on('add', function (message) {
                    t.chatMessagesListView.add( message.toJSON() );
                });
                chatCollection.on('change', function (message) {
                    t.chatMessagesListView.update( message.toJSON() );
                });
                chatMessagesListView.on('_requestNotificationsPermission', function () {
                    t.requestNotificationsPermission();
                });
                this.checkNotificationPermissionStatus();
            },
            requestNotificationsPermission: function () {
                var t = this;
                window.webkitNotifications.requestPermission(function () { t.chatMessagesListView.hidePermissionLink(); });
            },
            checkNotificationPermissionStatus: function () {
                var t = this;
                if (window.webkitNotifications) {
                    if (window.webkitNotifications.checkPermission() !== 0) {
                        t.chatMessagesListView.showPermissionLink();
                    }
                }
            },
            add: function (message) {
                this.chatCollection.add(message);
            },
            update: function (message) {
                var model = this.chatCollection.where({id:message.id})[0];
                if (model) {
                    model.update(message);
                }
            }
        });

        var MediaCaptureView = Backbone.View.extend({
            el: '#webcam',
            elements: {
                feed: $('#webcam-feed').get(0)
            },
            events: {
                'click': function (e) {
                    e.preventDefault();
                    this.trigger('_mediaCaptured', this.takePhoto() );
                }
            },
            takePhoto: function () {
                var canvas = this.elements.feed.getContext('2d');

                var videoWidth = this.$el.get(0).videoWidth;
                var videoHeight = this.$el.get(0).videoHeight;

                $(this.elements.feed).width( videoWidth );
                $(this.elements.feed).height( videoWidth );
                this.elements.feed.setAttribute( 'width', videoWidth );
                this.elements.feed.setAttribute( 'height', videoWidth );

                canvas.drawImage( this.$el.get(0), 0, 0 );

                return this.elements.feed.toDataURL();
            },
            requestCapturePermission: function (callback) {
                var t = this;
                navigator.webkitGetUserMedia({video:true,audio:true}, function (stream) {
                    t.startStream(stream);
                });
            },
            startStream: function (stream) {
                this.$el.get(0).src = window.webkitURL.createObjectURL(stream);
                this.show();
            },
            stopStream: function (stream) {
                this.$el.get(0).src = window.webkitURL.createObjectURL(null);
            },
            show: function () {
                this.$el.addClass('open');
            },
            hide: function () {
                var t = this;
                this.$el.removeClass('open');
                navigator.webkitGetUserMedia({video:true,audio:true}, function (stream) {
                    t.stopStream(stream);
                });
            }
        });

        var MediaController = Backbone.View.extend({
            initialize: function () {
                var t = this;
                var mediaCaptureView = this.mediaCaptureView = new MediaCaptureView();

                mediaCaptureView.on('_mediaCaptured', function (media) {   
                    t.trigger('_mediaCaptured', { data: media });
                    mediaCaptureView.hide();
                });

            },
            capture: function () {
                this.mediaCaptureView.requestCapturePermission();
            }
        });


        var AppController = Backbone.View.extend({
            initialize: function () {
                var t = this;
                var filesController = this.filesController = new FilesController();
                var usersController = this.usersController = new UsersController();
                var chatController = this.chatController = new ChatController();
                var mediaController = this.mediaController = new MediaController();

                filesController.on('_fileAdded', function (file) {
                    file.user = socket.socket.sessionid;
                    console.log(file);
                    socket.emit('fileAdded', file);
                });

                this.on('newFile', function (file) {
                    filesController.add(file);
                });
                this.on('newUser', function (user) {
                    if (user.id === socket.socket.sessionid) {
                        user.self = true;
                    }
                    usersController.add(user);
                });
                this.on('userRemoved', function (user) {
                    usersController.remove(user);
                });
                this.on('userUpdated', function (user) {
                    if (user.id === socket.socket.sessionid) {
                        user.self = true;
                    }
                    usersController.update(user);
                });

                mediaController.on('_mediaCaptured', function (media) {
                    var user = usersController.get(socket.socket.sessionid);
                    user.image = media;
                    if (user.self) { delete user.self; }
                    socket.emit('userUpdated', user);
                });

                usersController.on('_requireMediaUpload', function () { 
                    mediaController.capture();
                });

                usersController.on('_userUpdated', function (user) {
                    if (user.self) { delete user.self; }
                    socket.emit('userUpdated', user);
                });

                chatController.on('_chatMessageAdded', function (message) {
                    if (!message.user) {// || (message.user && message.user.id !== socket.socket.sessionid) ) {
                        message.user = usersController.get(socket.socket.sessionid);
                        delete message.user.self;
                        socket.emit('chatMessageAdded', message);
                    } else {
                        t.growl(message.user, message.message);
                    }
                });

                this.on('chatMessageUpdated', function (message) {
                    if (message.user && message.user.id === socket.socket.sessionid) {
                        message.user.self = true;
                    }
                    chatController.update(message);
                });

                this.on('newMessage', function (message) {
                    // from server
                    if (message.user && message.user.id === socket.socket.sessionid) {
                        message.user.self = true;
                    }
                    chatController.add(message);
                });


            },
            growl: function (user, message) {
             if (window.webkitNotifications.checkPermission() === 0) { // 0 is PERMISSION_ALLOWED
                console.log('notifications were permitted');
                var note = window.webkitNotifications.createNotification('', user, message);
                note.ondisplay = function() { var hide = setTimeout(function () { console.log(note); note.close(); }, 2500) };
                note.show();
              } else {
                window.webkitNotifications.requestPermission();
              }
            }
        });

        appController = new AppController();

        socket.on('_newFile', function (file) {
            appController.trigger('newFile', file);
        });

        socket.on( '_getAllFiles', function (files) {
            _.each(files, function (file) {
                appController.trigger('newFile', file);
            });
        });

        socket.on( '_currentUserModified', function (user) {
            user.self = 'true';
            appController.trigger('newUser', user);
        });

        socket.on( '_userAdded', function (user) {
            appController.trigger('newUser', user);
        });

        socket.on( '_getAllUsers', function (users) {
            _.each(users, function (user) {
                appController.trigger('newUser', user);
            });
        });

        socket.on( '_getAllMessages', function (messages) {

            _.each(messages, function (message) {
                appController.trigger('newMessage', message);
            });
        });

        socket.on( '_userRemoved', function (user) {
            appController.trigger('userRemoved', user);
        });

        socket.on( '_error', function (error) {
            alert(error);
        });

        socket.on('_chatMessageAdded', function (message) {
            appController.trigger('newMessage', message);
        });

        socket.on('_reload', function () {
            window.location = window.location;
        });

        socket.on('_userUpdated', function (data) {
            appController.trigger('userUpdated', data);
        });

        socket.on('_chatMessageUpdated', function (data) {
            appController.trigger('chatMessageUpdated', data);
        });

    </script>
</body>
</html>